:root {
    --preto-principal: #000;
    --branco-principal: #fff;
    --azul-principal: #4098ff;
    --azul-secundario: #70c0ff;
    --branco-azulado-terciario: #d4e8ff;
}

body {
    background-color: var(--branco-principal);
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

#navbar {
    background-color: var(--azul-principal);
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 2em;
    margin-bottom: 3em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

#titulo-nav {
    font-size: 40px;
    font-weight: bold;
}

.texto-o-que-e-imc {
    margin-inline: 15%;
}

#formula-imc {
    border-radius: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}

#tabela-imc {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

.tabela-linha {
    background-color: var(--branco-azulado-terciario);
    border: 1px solid;
    border-color: var(--branco-principal);
}

.tabela-coluna-imc {
    background-color: var(--azul-secundario);
    border: 1px solid;
    border-color: var(--branco-principal);
    padding-top: 1em;
    padding-right: 4em;
    padding-bottom: 1em;
    padding-left: 4em;
}

.tabela-coluna-classificacao {
    background-color: var(--branco-azulado-terciario);
    border: 1px solid;
    border-color: var(--branco-principal);
    padding-top: 1em;
    padding-right: 4em;
    padding-bottom: 1em;
    padding-left: 4em;
}

.tabela-linha-superior {
    background-color: var(--azul-principal);
    font-weight: bold;
    border: 1px solid;
    border-color: var(--branco-principal);
}

.tabela-coluna-superior {
    background-color: var(--azul-principal);
    font-weight: bold;
    border: 1px solid;
    border-color: var(--branco-principal);
    padding-top: 0.5em;
    padding-right: 4em;
    padding-bottom: 0.5em;
    padding-left: 4em;
}

#tabela-texto {
    background-color: var(--branco-azulado-terciario);
    border: 1px solid;
    border-color: var(--branco-principal);
    
}

.titulo-seu-imc {
    font-weight: bold;
    margin-bottom: 2em;
}

#caixa-seu-imc {
    text-align: left;
    margin: 0 30% 2em 30%;
}

#footer {
    background-color: var(--azul-principal);
    padding-top: 1em;
    padding-bottom: 1em;
}

#donos {
    color: var(--preto-principal);
}